<h2>Sign up</h2>

<% resource.build_profile unless resource.profile %>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <%= f.fields_for :profile do |profile_f| %>
    <div><%= profile_f.label :first_name %><br />
    <%= profile_f.text_field :first_name %></div>

    <div><%= profile_f.label :last_name %><br />
    <%= profile_f.text_field :last_name %></div>

    <div><%= profile_f.label :school %><br />
    <%= profile_f.text_field :school %></div>

    <div><%= profile_f.label :date_of_birth %><br />
    <%= profile_f.date_select :date_of_birth %></div>
  <% end %>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>
