- if @question.id
  %script
    :plain
      $(".small-text-field").css({width:"20px"});

%div.row{class: "choice-row-#{f.object.choice_letter}"}
  = f.label :choice_letter
  = f.text_field :choice_letter,class: "small-text-field"
  
  = f.label :content,"Content # #{index}"
  = f.text_field :content

  = f.label :correct,"##{index} Correct?"
  = f.check_box :correct

  - if @question.id
    = link_to "Remove # #{index}",{action: "remove_choice",question_id: question.id,choice_letter: f.object.choice_letter},{class: "btn btn-danger pull-right",remote: true,confirm: "Are you sure you want to delete this choice?"}
