- # Create 5 choices (for prototyping). 
- # No point in doing this in the new action since the instance variables are lost in the next request
- 5.times {@question.choices.build(choice_letter: cycle("A","B","C","D","E"))} unless @question.choices.any? 

= form_for([:admin, :materials, @question],remote: @ajax || false) do |f|
  - if @question.errors.any?
    %ul
    - @question.errors.full_messages.each do |msg|
      %li=msg

  %div.control-group.text-center
    = f.label :title,"Question Title"
    = f.text_field :title

  %div.control-group.text-center
    = f.label :prompt,"Question Prompt"
    = f.text_area :prompt,{cols: 30,rows: 7}

  %div.well.form-inline
    - index=1
    = f.fields_for :choices do |builder|
      = render "choices_fields", f: builder,index: index,question: @question
      - index+=1

  = f.hidden_field :exp, {value: "1400"} 
  = f.hidden_field :question_type_id, {value: @question_type[:id]}
  %div.pull-right
    - if @ajax
      = link_to "Cancel",{controller: "admin/materials/questions", action: "cancel_edit_question",question_id: @question.id},{class: "btn btn-danger",remote: true}
    - else
      = link_to "Cancel",admin_materials_questions_path,{class: "btn btn-danger"}
    = f.submit class: "btn btn-primary"
