%div.row.questions-accordion
  %div.span3
  %div.accordion.span6{id: "accordion2"}
    %div.accordion-group
      - count=1
      - questions.each do |question|
        %div.row.hero-unit.padding-5px
          %div.accordion-heading.text-center
            %div.span9
              %a.accordion-toggle{:"data-toggle"=>"collapse", :"data-parent"=>"#accordion2", href: "#collapse#{count}"}
                = question.title
            %div.span3
              %button.btn.btn-success Edit
              %button.btn.btn-danger Delete
        %div{id: "collapse#{count}",class: "accordion-body collapse",style: "height: 0px;"}
          %div.accordion-inner
            %div.row
              %div.span1
              %div.span5
                %span Prompt:
            %div.row.well
              %p= question.prompt.parse(question_id: question.id,is_passage: false).html_safe
              - question.choices.each do |choice|
                = check_box_tag :question,:choice,choice.correct?,disabled: true
                = choice.choice_letter+": "+choice.content
                %br
            - if question.paragraph
              %h3= "Paragraph: #{question.paragraph.title}"
              %div.hero-unit.text-center
                %p= question.paragraph.content.parse(question_id: question.id,is_passage: true).html_safe
        - count+=1
