= javascript "../question_types/dynamic_question_types"
%h1 Select Category and Question Type

= form_tag({controller: "admin/materials/questions",action: "new"},method: "get") do
  %div.control-group
    = label :category_type,:id,"Category"
    = select :category_type,:id,@category_types

  %div.control-group
    = label :question_type,:id,"Question Type"
    = select :question_type,:id,@question_types

  %div
    = submit_tag "Proceed",class: "btn btn-primary"
