= javascript "../question_types/dynamic_question_types"

%div.container-fluid.questions-index
  %h1 Question Index Page

  %script{type: "text/javascript"}
    :plain
      $(document).ready(function() {
        $(".collapse").collapse({
          toggle: false
        });
      });

  %div.row
    %div.span8
    %div.span4
      %span.label.label-info Filter
      %div.filter-form.well.form-inline
        = form_tag admin_materials_questions_path,method: "get",remote: true do
          %div.control-group
            = label :category_type,:id,"Category"
            = select :category_type,:id,@category_types

          %div.control-group
            = label :question_type,:id,"Question Type"
            = select :question_type,:id,@question_types

          %div.pull-right
            = submit_tag "Update",class: "btn btn-primary"

  %div.row
    %div.span8
    %div.span2
      =link_to "Add Question",add_new_materials_question_path,class: "white-text btn btn-primary"

  = render "questions_accordion",questions: @questions
