- unless @error
  $('[value="#{escape_javascript("#{@choice.id}")}"]').remove();
  $(".choice-row-#{escape_javascript(@choice.choice_letter)}").remove();

//Render view to show the notice/alert
= render "render_notice_and_alert",error: @error,notice: @notice,notice_container: ".question-row-#{@question.id}"
