%p
  = f.label :choice_letter
  = f.text_field :choice_letter, size:3
  
  = f.label :content,"Content # #{deep_index}"
  = f.text_field :content

  = f.label :correct,"##{deep_index} Correct?"
  = f.check_box :correct
