!!! 5

%html
  %head
    %title Studium - Online Test Prep

    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body{class: controller.controller_name}
    %div.navbar.navbar-fixed-top
      %div.navbar-inner
        %div.container
          %a.btn.btn-navbar{"data-toggle" => "collapse", "data-target"=> ".nav-collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{href: "/"}Studium
          %div.nav-collapse
            %ul.nav.pull-right
              - if user_signed_in?
                %li= link_to "Sign out",destroy_user_session_path
              - else
                %li= link_to "Sign in",new_user_session_path
                %li= link_to "Sign up",new_user_registration_path
    %div.container
      %div.row
        -# Notifications
        - if notice
          %p.alert.alert-info= notice
        - if alert
          %p.alert.alert-error= alert


      %div.row
        -# Main page and sidebar
        %div.span9
          = yield
        %div.span3 
          LATEST UPDATES GO HERE
