!!! 5

%html
  %head
    %title Studium - Online Test Prep

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type: "text/javascript"></script>
    <![endif]-->

    = stylesheet_link_tag "application",media: "all"
    = javascript_include_tag :rails,:application
    = csrf_meta_tags
    = yield(:head)

    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}

  %body{class: controller.controller_name}
    %div.navbar.navbar-fixed-top
      %div.navbar-inner
        %div.container
          %a.btn.btn-navbar{"data-toggle" => "collapse", "data-target"=> ".nav-collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{href: user_signed_in? ? "/dashboard":"/"}
            = image_tag("images/logo.png")
          %div.nav-collapse
            %ul.nav.pull-right
              - if user_signed_in?
                %li= link_to current_user.email,"/users/#{current_user.id}/profile"
                - if current_user.admin?
                  %li= link_to "Admin Page",admin_index_path

                %li= link_to "Sign out",destroy_user_session_path, method: :delete
              - else
                %li= link_to "Sign in",new_user_session_path
                %li= link_to "Sign up",new_user_registration_path
    %div.container-fluid
      %div.row-fluid.notice-alert
        -# Notifications
        - if notice
          %div.alert.alert-success
            %button.close{:"data-dismiss"=>"alert"} x
            %p= notice
        - if alert
          %div.alert.alert-error
            %button.close{:"data-dismiss"=>"alert"} x
            %p= alert


      %div.row-fluid
        = yield
        %hr
        %footer
          %p Copyright Chau and Kien, 2012.

